{{define "data_tls_private_key"}}---
layout: "fastly"
page_title: "Fastly: fastly_tls_private_key"
sidebar_current: "docs-fastly-datasource-tls_private_key"
description: |-
  Get information on a TLS Private Key.
---

# fastly_tls_private_key

Use this data source to get information on a TLS Private Key uploaded to Fastly.

## Example Usage

```hcl
data "fastly_tls_private_key" "demo" {
  name = "demo-private-key"
}

output "private_key_needs_replacing" {
  value = data.fastly_tls_private_key.demo.replace
}
```

## Arguments Reference

~> **Warning:** The data source's filters are applied using an **AND** boolean operator, so depending on the combination
 of filters, they may become mutually exclusive. The exception to this is `id` which must not be specified in combination
 with any of the others.

* `id` - (Optional) Fastly private key ID. Conflicts with all the other filters.
* `name` - (Optional) The human-readable name assigned to the private key when uploaded.
* `key_length` - (Optional) The key length used to generate the private key.
* `key_type` - (Optional) The algorithm used to generate the private key. Must be RSA.
* `public_key_sha1` - (Optional) A hash of the associated public key useful for safely identifying the key.

~> **Note:** If more or less than a single match is returned by the search, Terraform will fail. Ensure that your search
 is specific enough to return a single key.

## Attributes Reference

In addition to the arguments listed above, the following attributes are exported:

* `created_at` - Timestamp (GMT) when the private key was created.
* `replace` - Whether Fastly recommends replacing this private key.

{{end}}
