{{define "condition"}}* `condition` - (Optional) A set of conditions to add logic to any basic
configuration object in this service. [Defined below](#condition-block).{{end}}

{{define "condition_block"}}
### condition block

The `condition` block supports allows you to add logic to any basic configuration
object in a service. See Fastly's documentation
["About Conditions"](https://docs.fastly.com/en/guides/about-conditions)
for more detailed information on using Conditions. The Condition `name` can be
used in the `request_condition`, `response_condition`, or
`cache_condition` attributes of other block settings.

* `name` - (Required) The unique name for the condition.
* `statement` - (Required) The statement used to determine if the condition is met.
* `type` - (Required) Type of condition, either `REQUEST` (req), `RESPONSE`
(req, resp), or `CACHE` (req, beresp).
* `priority` - (Optional) A number used to determine the order in which multiple
conditions execute. Lower numbers execute first. Default `10`.{{end}}