---
page_title: "fastly_service_vcl List Resource - fastly"
subcategory: ""
description: |-
  List all custom VCL files across all Fastly CDN services at their active version, or latest version when no active version exists.
---

# fastly_service_vcl (List Resource)

List all custom VCL files across all Fastly CDN services at their active version,
or latest version when no active version exists.

{{ .SchemaMarkdown | trimspace }}
