{{define "footer"}}[fastly-s3]: https://docs.fastly.com/en/guides/amazon-s3
[fastly-cname]: https://docs.fastly.com/en/guides/adding-cname-records
[fastly-conditionals]: https://docs.fastly.com/en/guides/using-conditions
[fastly-sumologic]: https://developer.fastly.com/reference/api/logging/sumologic/
[fastly-gcs]: https://developer.fastly.com/reference/api/logging/gcs/

## Import

Fastly Services can be imported using their service ID, e.g.

{{ if eq .Data.ServiceType "vcl"}}```
$ terraform import fastly_service_vcl.demo xxxxxxxxxxxxxxxxxxxx
```{{end}}
{{ if eq .Data.ServiceType "wasm"}}```
$ terraform import fastly_service_compute.demo xxxxxxxxxxxxxxxxxxxx
```{{end}}

By default, either the active version will be imported, or the latest version if no version is active.
Alternatively, a specific version of the service can be selected by appending an `@` followed by the version number to the service ID, e.g.

{{ if eq .Data.ServiceType "vcl"}}```
$ terraform import fastly_service_vcl.demo xxxxxxxxxxxxxxxxxxxx@2
```{{end}}
{{ if eq .Data.ServiceType "wasm"}}```
$ terraform import fastly_service_compute.demo xxxxxxxxxxxxxxxxxxxx@2
```{{end}}{{end}}
