{{define "acl"}}* `acl` - (Optional) A set of ACL configuration blocks.
[Defined below](#acl).{{end}}

{{define "acl_block"}}
### acl

The `acl` block supports:

* `name` - (Required) A unique name to identify this ACL.{{end}}

{{define "acl_export"}}
The `acl` block exports:

* `acl_id` - The ID of the ACL.{{end}}