{{define "cache_setting"}}* `cache_setting` - (Optional) A set of Cache Settings, allowing you to override{{end}}

{{define "cache_setting_block"}}
The `cache_setting` block supports:

* `name` - (Required) Unique name for this Cache Setting.
* `action` - (Optional) One of `cache`, `pass`, or `restart`, as defined on Fastly's documentation under ["Caching action descriptions"](https://docs.fastly.com/en/guides/controlling-caching#caching-action-descriptions).
* `cache_condition` - (Optional) Name of already defined `condition` used to test whether this settings object should be used. This `condition` must be of type `CACHE`.
* `stale_ttl` - (Optional) Max "Time To Live" for stale (unreachable) objects.
* `ttl` - (Optional) The Time-To-Live (TTL) for the object.
{{end}}