{{define "dictionary"}}
* `dictionary` - (Optional) A set of dictionaries that allow the storing of key values pair for use within VCL functions. Defined below.
{{end}}

{{define "dictionary_block"}}
The `dictionary` block supports:

* `name` - (Required) A unique name to identify this dictionary.
* `write_only` - (Optional) If `true`, the dictionary is a private dictionary, and items are not readable in the UI or
via API. Default is `false`. It is important to note that changing this attribute will delete and recreate the
dictionary, discard the current items in the dictionary. Using a write-only/private dictionary should only be done if
the items are managed outside of Terraform.
{{end}}

{{define "dictionary_export"}}
The `dictionary` block exports:

* `dictionary_id` - The ID of the dictionary.
{{end}}