{{define "domain"}}* `domain` - (Required) A set of Domain names to serve as entry points for your
Service. [Defined below](#domain).{{end}}

{{define "domain_block"}}
### domain

The `domain` block supports:

* `name` - (Required) The domain to which this Service will respond.
* `comment` - (Optional) An optional comment about the Domain.{{end}}