{{define "logging_honeycomb"}}
* `logging_honeycomb` - (Optional) A Honeycomb endpoint to send streaming logs to.
Defined below.
{{end}}

{{define "logging_honeycomb_block"}}
The `logging_honeycomb` block supports:

* `name` - (Required) The unique name of the Honeycomb logging endpoint.
* `dataset` - (Required) The Honeycomb Dataset you want to log to.
* `token` - (Required) The Write Key from the Account page of your Honeycomb account.
{{ if eq .Data.ServiceType "vcl"}}* `format` - (Optional) Apache style log formatting. Your log must produce valid JSON that Honeycomb can ingest.
* `format_version` - (Optional) The version of the custom logging format used for the configured endpoint. Can be either `1` or `2`. (default: `2`).
* `placement` - (Optional) Where in the generated VCL the logging call should be placed. Can be `none` or `waf_debug`.
* `response_condition` - (Optional) The name of an existing condition in the configured endpoint, or leave blank to always execute.
{{end}}{{end}}