{{define "snippet"}}* `snippet` - (Optional) A set of custom, "regular" (non-dynamic) VCL Snippet configuration blocks.
[Defined below](#snippet).{{end}}

{{define "snippet_block"}}
### snippet

The `snippet` block supports:

* `name` - (Required) A name that is unique across "regular" and "dynamic" VCL Snippet configuration blocks.
* `type` - (Required) The location in generated VCL where the snippet should be placed (can be one of `init`, `recv`, `hit`, `miss`, `pass`, `fetch`, `error`, `deliver`, `log` or `none`).
* `content` (Required) The VCL code that specifies exactly what the snippet does.
* `priority` - (Optional) Priority determines the ordering for multiple snippets. Lower numbers execute first.  Defaults to `100`.{{end}}