---
layout: "fastly"
page_title: "Fastly: compute_acl"
sidebar_current: "docs-fastly-resource-compute_acl"
description: |-
  Provides a Compute Access Control List (ACL) that you can attach to a Compute service.
---

# fastly_compute_acl

Provides a Compute Access Control List (ACL) that can be linked to a Fastly Compute service. ACLs define CIDR-based access rules (e.g., allow/block IP ranges).

To make a `fastly_compute_acl` available to a [Compute](https://developer.fastly.com/learning/compute/) service, you must create a `fastly_service_compute` resource and attach the ACL using a `resource_link` block, as shown below.

## Example Usage

Basic usage:

{{ tffile "examples/resources/compute_acl_basic_usage.tf" }}

## Import

Fastly Compute ACLs can be imported using their ACL ID, e.g.

{{ codefile "sh" "examples/resources/components/compute_acl_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}
