---
page_title: "Fastly: fastly_compute_acl"
subcategory: ""
description: |-
  Provides a Fastly Compute@Edge ACL resource.
---

# fastly_compute_acl

Provides a Fastly Compute@Edge ACL (Access Control List) resource. ACLs allow you to create allow/deny lists of IP addresses to control access to your Compute@Edge services.

## Example Usage

Basic usage:

```hcl
{{ tffile "examples/resources/compute_acl_basic_usage.tf" }}
```

## Argument Reference

The following arguments are supported:

* `name` - (Required) A unique name to identify the ACL.
* `force_destroy` - (Optional) Allow the ACL to be deleted even if it contains entries. Defaults to `false`.

## Attributes Reference

In addition to all arguments above, the following attributes are exported:

* `acl_id` - The ID of the ACL.

## Import

Fastly Compute@Edge ACLs can be imported using the ACL ID (UUID), e.g.,

```
$ terraform import fastly_compute_acl.example 7d991f5f-7c40-4c8c-a0c1-6ea5e45e4bcf
```

Where `7d991f5f-7c40-4c8c-a0c1-6ea5e45e4bcf` is the ACL ID.

{{ .SchemaMarkdown | trimspace }}

