---
layout: "fastly"
page_title: "Fastly: fastly_domain"
sidebar_current: "docs-fastly-resource-domain"
description: |-
  Manage your domains on Fastly.
---

# fastly_domain

Domain management allows you to manage your domains on Fastly and the services that they interact with.

## Example Usage

Basic usage:

{{ tffile "examples/resources/domain_basic_usage.tf" }}

## Import

Domains can be imported using the domain ID, e.g.

{{ codefile "sh" "examples/resources/components/domain_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}
