---
layout: "fastly"
page_title: "Fastly: fastly_domain_service_link"
sidebar_current: "docs-fastly-resource-domain-service-link"
description: |-
  A link between a versionless domain and a service
---

# fastly_domain_service_link

Domain service links are for managing versionless domains for services. The link associates an existing service
with an existing domain, but doesn't create or delete either resource.

If you are managing your versionless domain with a service link, you may not also use a `resource_fastly_domain` block as well.

## Example Usage

Basic usage:

{{ tffile "examples/resources/domain_service_link_basic_usage.tf" }}

## Import

Domain service links can be imported using the domain ID, e.g.

{{ codefile "sh" "examples/resources/components/domain_service_link_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}
