---
layout: "fastly"
page_title: "Fastly: kvstore"
sidebar_current: "docs-fastly-resource-kvstore"
description: |-
  Provides a persistent, globally consistent key-value store accessible to Compute@Edge services during request processing.
---

# fastly_kvstore

Provides a persistent, globally consistent key-value store accessible to Compute@Edge services during request processing.

-> **Note** The `kv_store` feature does not support seeding the store with data. This is because the size of objects that can be stored is very large and Terraform is designed for containing [configuration, not data](https://developer.fastly.com/learning/integrations/orchestration/terraform/#configuration-not-data). You should use either the [Fastly CLI](https://developer.fastly.com/learning/tools/cli/), [Fastly API](https://developer.fastly.com/reference/api/) or one of the available [Fastly API Clients](https://developer.fastly.com/reference/api/#clients) to populate your KV Store.

## Example Usage

Basic usage:

{{ tffile "examples/resources/kvstore_basic_usage.tf" }}

## Import

Fastly KV Stores can be imported using their Store ID, e.g.

{{ codefile "sh" "examples/resources/components/kvstore_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}
