---
layout: "fastly"
page_title: "Fastly: ngwaf_alert_opsgenie_integration"
sidebar_current: "docs-fastly-resource-ngwaf-alert-opsgenie-integration"
description: |-
  Provides a Fastly Next-Gen WAF Alert Opsgenie integration for a Workspace
---

# ngwaf_alert_opsgenie_integration

Provides Fastly Next-Gen WAF Alert Opsgenie integrations, which provide a connection to Opsgenie.

## Example Usage

Basic usage:

{{ tffile "examples/resources/ngwaf_alert_opsgenie_integration_basic_usage.tf" }}

## Import

Fastly Next-Gen WAF Alert Opsgenie integrations can be imported using their ID and the ID of the workspace they belong to.

{{ codefile "sh" "examples/resources/components/ngwaf_alert_opsgenie_integration_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}