---
layout: "fastly"
page_title: "Fastly: ngwaf_alert_slack_integration"
sidebar_current: "docs-fastly-resource-ngwaf-alert-slack-integration"
description: |-
  Provides a Fastly Next-Gen WAF Alert Slack integration for a Workspace
---

# fastly_ngwaf_alert_slack_integration

Provides Fastly Next-Gen WAF Alert Slack integrations, which provide a connection to Slack.

## Example Usage

Basic usage:

{{ tffile "examples/resources/ngwaf_alert_slack_integration_basic_usage.tf" }}

## Import

Fastly Next-Gen WAF Alert Webhook integrations can be imported using their ID and the ID of the workspace they belong to.

{{ codefile "sh" "examples/resources/components/ngwaf_alert_slack_integration_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}