---
layout: "fastly"
page_title: "Fastly: ngwaf_account_signal"
sidebar_current: "docs-fastly-resource-ngwaf-account-signal"
description: |-
  Provides a Fastly Next-Gen WAF Account Signal
---

# fastly_ngwaf_account_signal

Provides a Fastly Next-Gen WAF Account Signal.  
Account-level signals apply across one or more workspaces and are useful for defining shared or global WAF logic.

## Example Usage

Basic usage:

{{ tffile "examples/resources/ngwaf_account_signal_basic_usage.tf" }}

## Import

Fastly Next-Gen WAF account signals can be imported using just the signal ID, e.g.:

{{ codefile "sh" "examples/resources/components/account_signal_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}
