---
layout: "fastly"
page_title: "Fastly: ngwaf_alert_datadog_integration"
sidebar_current: "docs-fastly-resource-ngwaf-alert-datadog-integration"
description: |-
  Provides a Fastly Next-Gen WAF Alert Datadog integration for a Workspace
---

# fastly_ngwaf_alert_datadog_integration

Provides Fastly Next-Gen WAF Alert Datadog integrations, which provide a connection to Datadog.

## Example Usage

Basic usage:

{{ tffile "examples/resources/ngwaf_alert_datadog_integration_basic_usage.tf" }}

## Import

Fastly Next-Gen WAF Alert Datadog integrations can be imported using their ID and the ID of the workspace they belong to.

{{ codefile "sh" "examples/resources/components/ngwaf_alert_datadog_integration_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}