---
layout: "fastly"
page_title: "Fastly: ngwaf_workspace_rule"
sidebar_current: "docs-fastly-resource-ngwaf-workspace-rule"
description: |-
  Provides a Fastly Next-Gen WAF Workspace Rule
---

# fastly_ngwaf_workspace_rule

Provides a Fastly Next-Gen WAF Workspace Rule, scoped to a specific NGWAF workspace.  
These rules define conditions and actions that trigger WAF enforcement at the workspace level.

## Example Usage

Basic usage:

{{ tffile "examples/resources/ngwaf_workspace_rule_basic_usage.tf" }}

Using templated signals:

{{ tffile "examples/resources/ngwaf_workspace_rule_templated_signal.tf" }}

Using group conditions:

{{ tffile "examples/resources/ngwaf_workspace_rule_group_conditions.tf" }}

Using multival conditions:

{{ tffile "examples/resources/ngwaf_workspace_rule_multival_conditions.tf" }}

Using rate limits:

{{ tffile "examples/resources/ngwaf_workspace_rule_rate_limit.tf" }}

## Import

Fastly Next-Gen WAF workspace rules can be imported using the format `<workspaceID>/<ruleID>`, e.g.:

{{ codefile "sh" "examples/resources/components/workspace_rule_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}
