---
layout: "fastly"
page_title: "Fastly: secretstore"
sidebar_current: "docs-fastly-resource-secretstore"
description: |-
  A secret store is a persistent, globally distributed store for secrets accessible to Compute@Edge services during request processing.
---

# fastly_configstore

A secret store is a persistent, globally distributed store for secrets accessible to Compute@Edge services during request processing.

In order for a Secret Store (`fastly_secretstore`) to be accessible to a [Compute@Edge](https://developer.fastly.com/learning/compute/) service you'll first need to define a Compute service (`fastly_service_compute`) in your configuration, and then create a link to the Secret Store from within the service using the `resource_link` block (shown in the below examples).

~> **Note:** Unlike other stores (Config Store, KV Store etc) deleting a Secret Store will automatically delete all the secrets it contains. There is no need to manually delete the secrets first.

## Example Usage

Basic usage:

{{ tffile "examples/resources/secretstore_basic_usage.tf" }}

## Import

Fastly Secret Stores can be imported using their Store ID, e.g.

{{ codefile "sh" "examples/resources/components/secretstore_import_cmd.txt" }}

{{ .SchemaMarkdown | trimspace }}
