---
layout: "fastly"
page_title: "Fastly: secretstore_entries"
sidebar_current: "docs-fastly-resource-secretstore-entries"
description: |-
  A secret within a Secret Store.
---

# fastly_secretstore_entries

The Secret Store (`fastly_secretstore`) can be seeded with initial key-value pairs using the `fastly_secretstore_entries` resource.

After the first `terraform apply` the default behaviour is to ignore any further configuration changes to those key-value pairs. Terraform will expect modifications to happen outside of Terraform (e.g. new key-value pairs to be managed using the [Fastly API](https://developer.fastly.com/reference/api/) or [Fastly CLI](https://developer.fastly.com/learning/tools/cli/)).

To change the default behaviour (so Terraform continues to manage the key-value pairs within the configuration) set `manage_entries = true`.

~> **Note:** Terraform should not be used to store large amounts of data, so it's recommended you leave the default behaviour in place and only seed the store with a small amount of key-value pairs. For more information see ["Configuration not data"](https://developer.fastly.com/learning/integrations/orchestration/terraform/#configuration-not-data).

## Example Usage

Basic usage (with seeded values):

{{ tffile "examples/resources/secretstore_entries_basic_usage_with_seeded_values.tf" }}

To have Terraform manage the initially seeded key-value pairs defined in your configuration, then you must set `manage_entries = true` (this will cause any key-value pairs added outside of Terraform to be deleted):

{{ tffile "examples/resources/secretstore_entries_basic_usage_managed_entries.tf" }}
