---
layout: "fastly"
page_title: "Fastly: service_acl_entries"
sidebar_current: "docs-fastly-resource-service-acl-entries"
description: |-
  Defines a set of Fastly ACL entries that can be used to populate a service ACL.
---

# fastly_service_acl_entries

Defines a set of Fastly ACL entries that can be used to populate a service ACL.  This resource will populate an ACL with the entries and will track their state.

~> **Warning:** Terraform will take precedence over any changes you make in the UI or API. Such changes are likely to be reversed if you run Terraform again.

~> **Note:** By default the Terraform provider allows you to externally manage the entries via API or UI.
If you wish to apply your changes in the HCL, then you should explicitly set the `manage_entries` attribute. An example of this configuration is provided below.

## Example Usage (Terraform >= 0.12.6)

Basic usage:

{{ tffile "examples/resources/service_acl_entries_basic_usage.tf" }}

Complex object usage:

The following example demonstrates the use of dynamic nested blocks to create ACL entries.

{{ tffile "examples/resources/service_acl_entries_complex_usage.tf" }}

## Example Usage (Terraform >= 0.12.0 && < 0.12.6)

`for_each` attributes were not available in Terraform before 0.12.6, however, users can still use `for` expressions to achieve
similar behaviour as seen in the example below.

~> **Warning:** Terraform might not properly calculate implicit dependencies on computed attributes when using `for` expressions

For scenarios such as adding an ACL to a service and at the same time, creating the ACL entries (`fastly_service_acl_entries`)
resource, Terraform will not calculate implicit dependencies correctly on `for` expressions. This will result in index lookup
problems and the execution will fail.

For those scenarios, it's recommended to split the changes into two distinct steps:

1. Add the `acl` block to the `fastly_service_vcl` and apply the changes
2. Add the `fastly_service_acl_entries` resource with the `for` expressions to the HCL and apply the changes

Usage:

{{ tffile "examples/resources/service_acl_entries_with_service.tf" }}

### Reapplying original entries with `manage_entries` if the state of the entries drifts

By default the user is opted out from reapplying the original changes if the entries are managed externally.
The following example demonstrates how the `manage_entries` field can be used to reapply the changes defined in the HCL if the state of the entries drifts.
When the value is explicitly set to 'true', Terraform will keep the original changes and discard any other changes made under this resource outside of Terraform.

~> **Warning:** You will lose externally managed entries if `manage_entries=true`.

~> **Note:** The `ignore_changes` built-in meta-argument takes precedence over `manage_entries` regardless of its value.

{{ tffile "examples/resources/service_acl_entries_manage_entries.tf" }}

## Attributes Reference

* [fastly-acl](https://developer.fastly.com/reference/api/acls/acl/)
* [fastly-acl_entry](https://developer.fastly.com/reference/api/acls/acl-entry/)

## Import

This is an example of the import command being applied to the resource named `fastly_service_acl_entries.entries`
The resource ID is a combined value of the `service_id` and `acl_id` separated by a forward slash.

{{ codefile "sh" "examples/resources/service_acl_entries_import_with_id.txt" }}

If Terraform is already managing remote acl entries against a resource being imported then the user will be asked to remove it from the existing Terraform state.
The following is an example of the Terraform state command to remove the resource named `fastly_service_acl_entries.entries` from the Terraform state file.

{{ codefile "sh" "examples/resources/service_acl_entries_rm_from_state.txt" }}

{{ .SchemaMarkdown | trimspace }}
