---
layout: "fastly"
page_title: "Fastly: service_vcl"
sidebar_current: "docs-fastly-resource-service-vcl"
description: |-
  Provides an Fastly Service
---

# fastly_service_vcl

Provides a Fastly Service, representing the configuration for a website, app,
API, or anything else to be served through Fastly. A Service encompasses Domains
and Backends.

The Service resource requires a domain name that is correctly set up to direct
traffic to the Fastly service. See Fastly's guide on [Adding CNAME Records][fastly-cname]
on their documentation site for guidance.

## Example Usage

Basic usage:

{{ tffile "examples/resources/service_vcl_basic_usage.tf" }}

Basic usage with an Amazon S3 Website and that removes the `x-amz-request-id` header:

{{ tffile "examples/resources/service_vcl_usage_with_s3.tf" }}

Basic usage with [custom
VCL](https://docs.fastly.com/vcl/custom-vcl/uploading-custom-vcl/):

{{ tffile "examples/resources/service_vcl_usage_with_custom_vcl.tf" }}

Basic usage with [custom Director](https://developer.fastly.com/reference/api/load-balancing/directors/director/):

{{ tffile "examples/resources/service_vcl_usage_with_custom_director.tf" }}

-> **Note:** The following example is only available from 0.20.0 of the Fastly Terraform provider.

Basic usage with [Web Application Firewall](https://developer.fastly.com/reference/api/waf/):

{{ tffile "examples/resources/service_vcl_usage_with_web_app_firewall.tf" }}

-> **Note:** For an AWS S3 Bucket, the Backend address is
`<domain>.s3-website-<region>.amazonaws.com`. The `override_host` attribute
should be set to `<bucket_name>.s3-website-<region>.amazonaws.com` in the `backend` block. See the
Fastly documentation on [Amazon S3][fastly-s3].

[fastly-cname]: https://docs.fastly.com/en/guides/adding-cname-records
[fastly-conditionals]: https://docs.fastly.com/en/guides/using-conditions
[fastly-sumologic]: https://developer.fastly.com/reference/api/logging/sumologic/
[fastly-gcs]: https://developer.fastly.com/reference/api/logging/gcs/

## Import

Fastly Services can be imported using their service ID, e.g.

{{ codefile "sh" "examples/resources/components/service_import_cmd.txt" }}

By default, either the active version will be imported, or the latest version if no version is active.
Alternatively, a specific version of the service can be selected by appending an `@` followed by the version number to the service ID, e.g.

{{ codefile "sh" "examples/resources/components/service_import_cmd_with_version.txt" }}

{{ .SchemaMarkdown | trimspace }}