---
layout: "fastly"
page_title: "Fastly: service_compute"
sidebar_current: "docs-fastly-resource-service-compute"
description: |-
  Provides an Fastly Compute@Edge service
---

# fastly_service_compute

Provides a Fastly Compute@Edge service. Compute@Edge is a computation platform capable of running custom binaries that you compile on your own systems and upload to Fastly. Security and portability is provided by compiling your code to [WebAssembly](https://webassembly.org/) using the `wasm32-wasi` target. A compute service encompasses Domains and Backends.

The Service resource requires a domain name that is correctly set up to direct traffic to the Fastly service. See Fastly's guide on [Adding CNAME Records](https://docs.fastly.com/en/guides/adding-cname-records) on their documentation site for guidance.

## Example Usage

Basic usage involves defining an input variable to contain the hash of the package files (in sorted order):

{{ tffile "examples/resources/service_compute_basic_usage.tf" }}

The easiest way to generate the hash is to use the Fastly CLI v10.1.0+:

```shell
terraform apply -var="hash=$(fastly compute hash-files --quiet)"
```

<!-- remove this curated references once https://github.com/hashicorp/terraform-plugin-docs/issues/28 is resolved -->
### package block

The `package` block supports uploading or modifying Wasm packages for use in a Fastly Compute@Edge service. See Fastly's documentation on
[Compute@Edge](https://www.fastly.com/products/edge-compute/serverless)

## Import

Fastly Services can be imported using their service ID, e.g.

{{ codefile "sh" "examples/resources/components/service_compute_import_cmd.txt" }}

By default, either the active version will be imported, or the latest version if no version is active.
Alternatively, a specific version of the service can be selected by appending an `@` followed by the version number to the service ID, e.g.

{{ codefile "sh" "examples/resources/components/service_compute_import_cmd_with_version.txt" }}

{{ .SchemaMarkdown | trimspace }}
