{{define "tls_subscription"}}---
layout: "fastly"
page_title: "Fastly: tls_subscription"
sidebar_current: "docs-fastly-resource-tls_subscription"
description: |-
Enables TLS on a domain using a managed certificate
---

# fastly_tls_subscription

Enables TLS on a domain using a certificate managed by fastly.

## Example Usage

Basic usage:

```hcl
resource "fastly_service_v1" "example" {
  name = "example-service"

  domain {
    name = "example.com"
  }

  backend {
    address = "127.0.0.1"
    name    = "localhost"
  }

  force_destroy = true
}

resource "fastly_tls_subscription" "example" {
  domains = [for domain in fastly_service_v1.example.domain : domain.name]
  certificate_authority = "lets-encrypt"
}
```
## Import

A subscription can be imported using its Fastly subscription ID, e.g.

```
$ terraform import fastly_tls_subscription.demo xxxxxxxxxxx
```
{{end}}
