---
layout: "fastly"
page_title: "Fastly: tls_platform_certificate"
sidebar_current: "docs-fastly-resource-tls_platform_certificate"
description: |-
Uploads a TLS certificate to the Platform TLS service
---

# fastly_tls_platform_certificate

Uploads a TLS certificate to the Fastly Platform TLS service.

-> Each TLS certificate **must** have its corresponding private key uploaded _prior_ to uploading the certificate. This
can be achieved in Terraform using [`depends_on`](https://www.terraform.io/docs/configuration/meta-arguments/depends_on.html)

## Example Usage

Basic usage with self-signed CA:

{{ tffile "examples/resources/tls_platform_certificate.tf" }}

## Import

A certificate can be imported using its Fastly certificate ID, e.g.

{{ codefile "sh" "examples/resources/tls_platform_certificate.txt" }}