---
layout: "fastly"
page_title: "Fastly: tls_private_key"
sidebar_current: "docs-fastly-resource-tls_private_key"
description: |-
Uploads a Custom TLS Private Key
---

# fastly_tls_private_key

Uploads a Custom TLS Private Key to Fastly. This can be combined with a `fastly_tls_custom_certificate` resource to provide a TLS Certificate able to be applied to a Fastly Service.

The Private Key resource requires a key in PEM format, and a name to identify it.

## Example Usage

Basic usage:

{{ tffile "examples/resources/tls_private_key_basic_usage.tf" }}

## Import

A Private Key can be imported using its ID, e.g.

{{ codefile "sh" "examples/resources/tls_private_key_import.txt" }}

{{ .SchemaMarkdown | trimspace }}