---
layout: "fastly"
page_title: "Fastly: tls_activation"
sidebar_current: "docs-fastly-resource-tls_activation"
description: |-
Enables TLS on a domain
---

# fastly_tls_activation

Enables TLS on a domain using a specified custom TLS certificate.

~> **Note:** The Fastly service must be provisioned _prior_ to enabling TLS on it. This can be achieved in Terraform using [`depends_on`](https://www.terraform.io/docs/configuration/meta-arguments/depends_on.html).

## Example Usage

Basic usage:

{{ tffile "examples/resources/tls_activation_basic_usage.tf" }}

~> **Warning:** Updating the `fastly_tls_private_key`/`fastly_tls_certificate` resources should be done in multiple plan/apply steps to avoid potential downtime. The new certificate and associated private key must first be created so they exist alongside the currently active resources. Once the new resources have been created, then the `fastly_tls_activation` can be updated to point to the new certificate. Finally, the original key/certificate resources can be deleted.

## Import

A TLS activation can be imported using its ID, e.g.

{{ codefile "sh" "examples/resources/tls_activation_import.txt" }}

{{ .SchemaMarkdown | trimspace }}
