---
layout: "fastly"
page_title: "Fastly: tls_certificate"
sidebar_current: "docs-fastly-resource-tls_certificate"
description: |-
Uploads a custom TLS certificate
---

# fastly_tls_certificate

Uploads a custom TLS certificate to Fastly to be used to terminate TLS traffic.

-> Each TLS certificate **must** have its corresponding private key uploaded _prior_ to uploading the certificate. This
can be achieved in Terraform using [`depends_on`](https://www.terraform.io/docs/configuration/meta-arguments/depends_on.html)

## Example Usage

Basic usage:

{{ tffile "examples/resources/tls_certificate_basic_usage.tf" }}

~> **Warning:** To avoid potential downtime when needing to update `fastly_tls_private_key`/`fastly_tls_certificate` resources, the new key/cert must first be created so they exist alongside the current resources. Once the new resources have been created, then the `fastly_tls_activation` can be updated to point to the new resources, and the original key/cert resources can be deleted.

## Import

A certificate can be imported using its Fastly certificate ID, e.g.

{{ codefile "sh" "examples/resources/tls_certificate_import.txt" }}

{{ .SchemaMarkdown | trimspace }}
