---
layout: "fastly"
page_title: "Fastly: user_v1"
sidebar_current: "docs-fastly-resource-user-v1"
description: |-
  Provides a Fastly User
---

# fastly_user_v1

Provides a Fastly User, representing the configuration for a user account for interacting with Fastly.

The User resource requires a login and name, and optionally a role.

## Example Usage

Basic usage:

{{ tffile "examples/resources/user_v1_basic_usage.tf" }}

## Import

A Fastly User can be imported using their user ID, e.g.

{{ codefile "txt" "examples/resources/user_v1_import.txt" }}