{{define "package"}}* `package` - (Optional) A Wasm deployment package to upload.
[Defined below](#package-block).{{end}}

{{define "package_block"}}
<!-- remove this curated references once https://github.com/hashicorp/terraform-plugin-docs/issues/28 is resolved -->
### package block

The `package` block supports uploading or modifying Wasm packages for use in a Fastly Compute@Edge service. See Fastly's documentation on
[Compute@Edge](https://www.fastly.com/products/edge-compute/serverless)
{{end}}
