---
layout: "fastly"
page_title: "Fastly: fastly_acls"
sidebar_current: "docs-fastly-datasource-fastly_acls"
description: |-
  Get information on Fastly ACLs.
---

# fastly_acls

Use this data source to get a list of [Fastly ACLs][1].

## Example Usage

{{ tffile "examples/data-sources/acls.tf"}}

[1]: https://developer.fastly.com/reference/api/acls/

{{ .SchemaMarkdown | trimspace }}