---
page_title: "Fastly: fastly_ai_runtime_control_providers"
sidebar_current: "docs-fastly-datasource-fastly_ai_runtime_control_providers"
description: |-
  Get information about the AI providers supported by Fastly AI Runtime Control.
---

# fastly_ai_runtime_control_providers

Use this data source to get the list of AI providers supported by [Fastly AI
Runtime Control][1], with each provider's available models nested within.

## Example Usage

{{ tffile "examples/data-sources/ai_runtime_control_providers.tf"}}

[1]: https://www.fastly.com/documentation/reference/api/ai-runtime-control/

{{ .SchemaMarkdown | trimspace }}
