---
layout: "fastly"
page_title: "Fastly: fastly_dns_zones"
sidebar_current: "docs-fastly-datasource-fastly_dns_zones"
description: |-
  Get a list of Fastly DNS Zones.
---

# fastly_dns_zones

Use this data source to get a list of Fastly DNS Zones.

## Example Usage

{{ tffile "examples/data-sources/dns_zones.tf"}}

{{ .SchemaMarkdown | trimspace }}
