---
layout: "fastly"
page_title: "Fastly: fastly_domains"
sidebar_current: "docs-fastly-datasource-fastly_domains"
description: |-
  Get information on versionless domains.
---

# fastly_domains

Use this data source to get information about versionless domains.

## Example Usage

{{ tffile "examples/data-sources/fastly_domains.tf"}}

[1]: https://www.fastly.com/documentation/reference/api/domain-management/domains/

{{ .SchemaMarkdown | trimspace }}