---
layout: "fastly"
page_title: "Fastly: fastly_ip_ranges"
sidebar_current: "docs-fastly-datasource-ip_ranges"
description: |-
  Get information on Fastly IP ranges.
---

# fastly_ip_ranges

Use this data source to get the [IP ranges][1] of Fastly edge nodes.

## Example Usage

{{ tffile "examples/data-sources/ip_ranges.tf"}}

[1]: https://docs.fastly.com/guides/securing-communications/accessing-fastlys-ip-ranges
