---
page_title: "Fastly: fastly_ngwaf_workspace_lists"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_workspace_lists"
description: |-
  Get information about a Fastly Next-Gen WAF List for a workspace.
---

# fastly_ngwaf_workspace_lists

Use this data source to get a Fastly Next-Gen WAF Workspace List.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_workspace_lists.tf"}}


{{ .SchemaMarkdown | trimspace }}
