---
page_title: "Fastly: fastly_ngwaf_virtual_patches"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_virtual_patches"
description: |-
  Get information about Fastly Next-Gen WAF Virtual Patches.
---

# fastly_ngwaf_virtual_patches

Use this data source to get a list of [Fastly Next-Gen WAF Virtual Patches][1] for a given workspace.

## Example Usage

{{ tffile "examples/data-sources/virtual_patches.tf"}}

[1]: https://www.fastly.com/documentation/reference/api/ngwaf/virtual-patches/

{{ .SchemaMarkdown | trimspace }}