---
page_title: "Fastly: fastly_ngwaf_workspace_signals"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_workspace_signals"
description: |-
  Get information about a Fastly Next-Gen WAF Signals for a workspace.
---

# fastly_ngwaf_workspace_signals

Use this data source to get a Fastly Next-Gen WAF Workspace Signal.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_workspace_signals.tf"}}


{{ .SchemaMarkdown | trimspace }}
