---
page_title: "Fastly: fastly_ngwaf_workspaces"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_workspaces"
description: |-
  Get information about Fastly Next-Gen WAF Workspaces.
---

# fastly_ngwaf_workspaces

Use this data source to get a list of [Fastly Next-Gen WAF Workspaces][1].

## Example Usage

{{ tffile "examples/data-sources/ngwaf_workspaces.tf"}}

[1]: https://www.fastly.com/documentation/reference/api/ngwaf/workspaces/

{{ .SchemaMarkdown | trimspace }}
