---
page_title: "Fastly: fastly_ngwaf_account_rules"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_account_rules"
description: |-
  Get information about a Fastly Next-Gen WAF Rules for your account.
---

# fastly_ngwaf_account_rules

Use this data source to get a Fastly Next-Gen WAF Account Rule.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_account_rules.tf"}}


{{ .SchemaMarkdown | trimspace }}
