---
page_title: "Fastly: fastly_ngwaf_alert_pagerduty_integration"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_alert_pagerduty_integration"
description: |-
  Get information about a Fastly Next-Gen WAF Alert PagerDuty integration for a workspace.
---

# fastly_ngwaf_alert_pagerduty_integration

Use this data source to get a Fastly Next-Gen WAF Alert PagerDuty integration.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_alert_pagerduty_integration.tf"}}


{{ .SchemaMarkdown | trimspace }}