---
page_title: "Fastly: fastly_ngwaf_redactions"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_redactions"
description: |-
  Get information about Fastly Next-Gen WAF Redactions for a workspace.
---

# fastly_ngwaf_redactions

Use this data source to get a list of [Fastly Next-Gen WAF Redactions][1].

## Example Usage

{{ tffile "examples/data-sources/ngwaf_redactions.tf"}}

[1]: https://www.fastly.com/documentation/reference/api/ngwaf/redactions/

{{ .SchemaMarkdown | trimspace }}
