---
page_title: "Fastly: fastly_ngwaf_alert_mailing_list_integration"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_alert_mailing_list_integration"
description: |-
  Get information about a Fastly Next-Gen WAF Alert Mailing List integration for a workspace.
---

# fastly_ngwaf_alert_mailing_list_integration

Use this data source to get a Fastly Next-Gen WAF Alert Mailing List integration.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_alert_mailing_list_integration.tf"}}


{{ .SchemaMarkdown | trimspace }}
