---
page_title: "Fastly: fastly_ngwaf_account_signals"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_account_signals"
description: |-
  Get information about a Fastly Next-Gen WAF Signals for your account.
---

# fastly_ngwaf_account_signals

Use this data source to get a Fastly Next-Gen WAF Account Signal.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_account_signals.tf"}}


{{ .SchemaMarkdown | trimspace }}
