---
page_title: "Fastly: fastly_ngwaf_datadog_alerts"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_datadog_alerts"
description: |-
  Get information about Fastly Next-Gen WAF Datadog Alerts for a workspace.
---

# fastly_ngwaf_datadog_alerts

Use this data source to get a list of Fastly Next-Gen WAF Datadog Alerts.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_datadog_alerts.tf"}}


{{ .SchemaMarkdown | trimspace }}
