---
page_title: "Fastly: fastly_ngwaf_workspace_rules"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_workspace_rules"
description: |-
  Get information about a Fastly Next-Gen WAF Rules for a workspace.
---

# fastly_ngwaf_workspace_rules

Use this data source to get a Fastly Next-Gen WAF Workspace Rule.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_workspace_rules.tf"}}


{{ .SchemaMarkdown | trimspace }}
