---
page_title: "Fastly: fastly_ngwaf_account_lists"
sidebar_current: "docs-fastly-datasource-fastly_ngwaf_account_lists"
description: |-
  Get information about a Fastly Next-Gen WAF Lists for your account.
---

# fastly_ngwaf_account_lists

Use this data source to get a Fastly Next-Gen WAF Account List.

## Example Usage

{{ tffile "examples/data-sources/ngwaf_account_lists.tf"}}


{{ .SchemaMarkdown | trimspace }}
