---
layout: "fastly"
page_title: "Fastly: fastly_package_hash"
sidebar_current: "docs-fastly-datasource-fastly_package_hash"
description: |-
  Generate a SHA512 hash of all files (in sorted order) within the package.
---

# fastly_package_hash

Use this data source to generate a SHA512 hash of all files (in sorted order) within the package.

## Example Usage

{{ tffile "examples/data-sources/package_hash.tf"}}

{{ .SchemaMarkdown | trimspace }}
