{{define "data_source_tls_domain"}}---
layout: "fastly"
page_title: "Fastly: fastly_tls_domain"
sidebar_current: "docs-fastly-datasource-tls_domain"
description: |-
Get IDs of activations, certificates and subscriptions associated with a domain.
---

# fastly_tls_domain

Use this data source to get the IDs of activations, certificates and subscriptions associated with a domain.

## Example Usage

```hcl
data "fastly_tls_configuration_ids" "example" {}

resource "fastly_tls_activation" "example" {
  configuration_id = data.fastly_tls_configuration.example.ids[0]
  // ...
}
```
{{end}}