---
layout: "fastly"
page_title: "Fastly: fastly_tls_subscription"
sidebar_current: "docs-fastly-datasource-tls_subscription"
description: |-
Get information on Fastly TLS subscription.
---

# fastly_tls_subscription

Use this data source to get information about a TLS subscription.

## Example Usage

{{ tffile "examples/data-sources/tls_subscription.tf" }}

{{ .SchemaMarkdown | trimspace }}