---
layout: "fastly"
page_title: "Fastly: fastly_tsig_keys"
sidebar_current: "docs-fastly-datasource-fastly_tsig_keys"
description: |-
  Get a list of Fastly TSIG Keys.
---

# fastly_tsig_keys

Use this data source to get a list of Fastly TSIG Keys.

## Example Usage

{{ tffile "examples/data-sources/tsig_keys.tf"}}

{{ .SchemaMarkdown | trimspace }}
