---
layout: "fastly"
page_title: "Fastly: fastly_waf_rules"
sidebar_current: "docs-fastly-datasource-waf_rules"
description: |-
  Get information on Fastly WAF rules.
---

-> **Note:** This data source is only available from 0.20.0 of the Fastly terraform provider.

# fastly_waf_rules

Use this data source to get the [WAF rules][1] of Fastly. A set of third-party rules from the OWASP Core Ruleset, commercial sources, and open source, in addition to Fastly-generated rules.
They offer protection from injection attacks and cross site scripting amongst other key application-layer attacks.

## Example Usage

Usage with publishers Filter:

{{ tffile "examples/data-sources/waf_rules_owasp.tf" }}

Usage with tags filter:

{{ tffile "examples/data-sources/waf_rules_tags.tf" }}

Usage with exclude filter:

{{ tffile "examples/data-sources/waf_rules_exclusions.tf" }}

Usage without filters:

{{ tffile "examples/data-sources/waf_rules_all.tf" }}

Usage with WAF configuration resource:

{{ tffile "examples/data-sources/waf_rules_with_config.tf" }}

<!-- remove our curated references once https://github.com/hashicorp/terraform-plugin-docs/issues/28 is resolved -->

## Argument Reference

~> **Warning:** The data source's filters are applied using an **AND** boolean operator, so depending on the combination of filters, they may become mutually exclusive.

* `publishers` - Inclusion filter by WAF rule's publishers.
* `tags` - Inclusion filter by WAF rule's tags.
* `exclude_modsec_rule_ids` - Exclusion filter by WAF rule's ModSecurity ID.

## Attribute Reference

* `rules` - The Web Application Firewall's rules result set.

~> **Warning:** Deprecated rules will not be present on this data source's result set.

The `rules` block supports:

* `modsec_rule_id` - The rule's modsecurity ID.
* `latest_revision_number` - The rule's latest revision.
* `type` - The rule's type.

[1]: https://developer.fastly.com/reference/api/waf/rules/
