{{define "service_compute"}}---
layout: "fastly"
page_title: "Fastly: service_compute"
sidebar_current: "docs-fastly-resource-service-compute"
description: |-
  Provides an Fastly Compute@Edge service
---

# fastly_service_compute

Provides a Fastly Compute@Edge service. Compute@Edge is a computation platform capable of running custom binaries that you compile on your own systems and upload to Fastly. Security and portability is provided by compiling your code to [WebAssembly](https://webassembly.org/), which is run at the edge using [Lucet](https://github.com/bytecodealliance/lucet), an open-source WebAssembly runtime created by Fastly. A compute service encompasses Domains and Backends.

The Service resource requires a domain name that is correctly set up to direct
traffic to the Fastly service. See Fastly's guide on [Adding CNAME Records][fastly-cname]
on their documentation site for guidance.

## Example Usage

Basic usage:

```hcl
resource "fastly_service_compute" "demo" {
    name = "demofastly"

    domain {
      name    = "demo.notexample.com"
      comment = "demo"
    }

    backend {
      address = "127.0.0.1"
      name    = "localhost"
      port    = 80
    }

    package {
      filename = "package.tar.gz"
      source_code_hash = filesha512("package.tar.gz")
    }

    force_destroy = true
}
```

## Argument Reference

The following arguments are supported:

{{ template "activate" . }}
{{ template "name" . }}
{{ template "comment" . }}
{{ template "version_comment" . }}
{{ template "domain" . }}
{{ template "backend" . }}
{{ template "healthcheck" . }}
{{ template "package" . }}
{{ template "force_destroy" . }}
{{ template "s3logging" . }}
{{ template "papertrail" . }}
{{ template "sumologic" . }}
{{ template "gcslogging" . }}
{{ template "bigquerylogging" . }}
{{ template "syslog" . }}
{{ template "logentries" . }}
{{ template "splunk" . }}
{{ template "blobstoragelogging" . }}
{{ template "httpslogging" . }}
{{ template "logging_elasticsearch" . }}
{{ template "logging_ftp" . }}
{{ template "logging_sftp" .}}
{{ template "logging_datadog" . }}
{{ template "logging_loggly" . }}
{{ template "logging_newrelic" . }}
{{ template "logging_scalyr" . }}
{{ template "logging_googlepubsub" . }}
{{ template "logging_kafka" . }}
{{ template "logging_heroku" . }}
{{ template "logging_honeycomb" . }}
{{ template "logging_logshuttle" . }}
{{ template "logging_openstack" . }}
{{ template "logging_digitalocean" . }}
{{ template "logging_cloudfiles" . }}

{{ template "domain_block" . }}
{{ template "backend_block" . }}
{{ template "healthcheck_block" . }}
{{ template "package_block" . }}
{{ template "s3logging_block" . }}
{{ template "papertrail_block" . }}
{{ template "sumologic_block" . }}
{{ template "gcslogging_block" . }}
{{ template "bigquerylogging_block" . }}
{{ template "syslog_block" . }}
{{ template "logentries_block" . }}
{{ template "splunk_block" . }}
{{ template "blobstoragelogging_block" . }}
{{ template "httpslogging_block" . }}
{{ template "logging_elasticsearch_block" . }}
{{ template "logging_ftp_block" . }}
{{ template "logging_sftp_block" . }}
{{ template "logging_datadog_block" . }}
{{ template "logging_loggly_block" . }}
{{ template "logging_newrelic_block" . }}
{{ template "logging_scalyr_block" . }}
{{ template "logging_googlepubsub_block" . }}
{{ template "logging_kafka_block" . }}
{{ template "logging_heroku_block" . }}
{{ template "logging_honeycomb_block" . }}
{{ template "logging_logshuttle_block" . }}
{{ template "logging_openstack_block" . }}
{{ template "logging_digitalocean_block" . }}
{{ template "logging_cloudfiles_block" . }}

{{ template "export_intro" .}}
{{ template "footer" .}}
{{end}}
