# If someone with write access comments "/ok-to-test sha=<sha>" on a pull request, emit a repository_dispatch event
name: Ok To Test

on:
  issue_comment:
    types: [created]

jobs:
  ok-to-test:
    runs-on: ubuntu-latest
    if: ${{ github.event.issue.pull_request }} # ignore issue comments
    steps:
      - name: Trigger test run for forked PR
        uses: peter-evans/slash-command-dispatch@v4
        with:
          token: ${{ secrets.OK_TO_TEST_DISPATCH_TOKEN }}
          reaction-token: ${{ secrets.GITHUB_TOKEN }}
          issue-type: pull-request
          commands: ok-to-test
          permission: write
